/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background: #0d0d0d;
  color: #eee;
  overflow-x: hidden;
}

/* Neon Colors */
:root {
  --neon-purple: #a200ff;
  --neon-pink: #ff00ff;
  --neon-blue: #00ffff;
}

html {
  scroll-behavior: smooth;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 1px solid #444;
  position: sticky;
  top: 0;
  background-color: #0d0d0d;
  opacity: 90%;
  z-index: 1000;
}

.nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav a {
  color: var(--neon-blue);
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
}
.nav a:hover {
  color: var(--neon-pink);
}

.logo {
  color: var(--neon-purple);
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  text-shadow:
    0 0 10px var(--neon-purple),
    0 0 20px var(--neon-purple);
}

.hero-content {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px 20px;
}

.hero-content h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
  color: var(--neon-purple);
  margin-bottom: 10px;
}

.hero-content h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  color: var(--neon-pink);
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 1.3rem;
  color: white;
  margin-bottom: 25px;
  line-height: 1.6;
  max-width: 800px;
  margin-top: 20px;
}

#btn-box {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.btn {
  display: flex;
  padding: 10px 20px;
  border: 2px solid var(--neon-blue);
  border-radius: 25px;
  color: var(--neon-blue);
  font-weight: bold;
  transition: 0.3s;
  text-decoration: none;
  margin: 5px;
}

.btn:hover {
  background-color: var(--neon-blue);
  color: #0d0d0d;
  box-shadow:
    0 0 20px var(--neon-blue),
    0 0 40px var(--neon-blue);
  transform: scale(1.05);
}

.about-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  background: #2a2a2a;
  padding: 50px;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 20px;
}

.about-text {
  max-width: 520px;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.9;
  color: white;
  text-align: justify;
}

.profile-pic {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;

  border: 3px solid var(--neon-purple);
  box-shadow: 0 0 15px var(--neon-purple);

  flex: 0 0 170px;
  order: 2;
  margin-bottom: 40px;
}

.skills-section {
  flex: 0 0 200px;
  order: 3;
  text-align: center;
}

.skills {
  display: flex;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}

.skill {
  border: 2px solid var(--neon-purple);
  border-radius: 25px;
  padding: 8px 16px;
  color: var(--neon-purple);
  font-weight: bold;
  font-size: 0.95rem;
  transition: all 0.3s ease;
}

.skill:hover {
  box-shadow:
    0 0 20px var(--neon-purple),
    0 0 40px var(--neon-purple);
  transform: translateY(-5px);
}

.about h2 {
  color: var(--neon-purple);
  font-size: 2.3rem;
  margin-bottom: 30px;
  text-align: center;
  text-shadow:
    0 0 15px var(--neon-purple),
    0 0 30px var(--neon-purple);
}

.skills-section h3 {
  margin-bottom: 30px;
  font-size: 1.5rem;
  color: var(--neon-purple);
  text-shadow:
    0 0 15px var(--neon-purple),
    0 0 30px var(--neon-purple);
}

#projects {
  text-align: center;
  padding: 80px 20px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 20px;
  justify-content: center;
}

.project-card {
  border: 2px solid var(--neon-purple);
  border-radius: 15px;
  padding: 40px;
  transition: 0.3s;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  text-decoration: none;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow:
    0 0 15px var(--neon-purple),
    0 0 30px var(--neon-purple);
}

.project-number {
  border-radius: 50%;
  color: var(--neon-purple);
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
  width: 50px;
  height: 50px;
  border: 2px solid var(--neon-purple);
  margin: 0 auto;
}

.project-card h3 {
  color: white;
}

.project-card p {
  color: white;
  text-align: center;
}

.tech-badge {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tech-badge li {
  border: 1px solid var(--neon-pink);
  border-radius: 10px;
  padding: 10px 5px;
  color: var(--neon-pink);
  list-style: none;
  margin: 5px;
}

#projects h2 {
  color: var(--neon-purple);
  font-size: 2.3rem;
  margin-bottom: 30px;
  text-align: center;
  text-shadow:
    0 0 15px var(--neon-purple),
    0 0 30px var(--neon-purple);
}

#contact h2{
color: var(--neon-pink);
  font-size: 2.3rem;
  margin-bottom: 30px;
  text-align: center;
  text-shadow:
    0 0 15px var(--neon-purple),
    0 0 30px var(--neon-purple);
}

#contact {
  padding: 80px 20px;
  text-align: center;
  
}

.contact-form{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 15px;
  margin: 0 auto;
  margin-top: 40px;
}

.contact-form input,
.contact-form textarea{
  padding: 15px;
  border-radius: 15px;
  color: #eee;
  background-color: #0d0d0d;
  font-size: 1rem;
  transition: 0.3s;
  border: 2px solid var(--neon-purple);
}
.contact-form input:focus,
.contact-form textarea:focus{
outline: none;
  border-color: var(--neon-pink);
  box-shadow: 0 0 10px var(--neon-pink);
}

.submit-btn{
  padding: 15px;
  border-radius: 25px;
  color: var(--neon-purple);
  background-color: #0d0d0d;
  font-size: 1rem;
  transition: 0.2s;
  border: 2px solid var(--neon-purple);
}
.submit-btn:focus{
  outline: none;
  border-color: var(--neon-pink);
  box-shadow: 0 0 10px var(--neon-pink);
}

#contact p{
font-size: 1.2rem;
}

.socials {
  margin-top: 20px;
}
.socials a {
  margin: 0 20px;
  color: var(--neon-blue);
  font-weight: bold;
  text-decoration: none;
}
.socials a:hover {
  color: var(--neon-pink);
}
